<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{site.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/screen.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/yrq0tie.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body class="template-homepage">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <img class="homepage-bg" alt="background image of people" src="/assets/homepage-bg.jpg">

        <section class="homepage-feature">
            <header class="homepage-feature-main group">
                <span class="homepage-logo">
                    <h1>Ed Mullen</h1>
                    <p class="tagline">Strategy & Design</p>
                </span>
                <div class="homepage-icons">
{% include 'includes/social-media-icons' %}
                </div>
            </header>

            <div class="homepage-intro">
              <p><b>Ed is a designer.</b> For many years, he ran his own design practice, working across a variety of fields: healthcare, journalism, humanitarian aid, higher education, non-profits, sustainability, e-commerce and more.</p>
              <p>Ed lives in Jersey City, NJ with his <a href="http://www.bdphotography.com">lovely wife</a> and his lovely daughter. He lives on the East Coast, but has a Midwestern heart.</p>
            </div>

<!--            <nav class="homepage-feature-nav group">
{% include 'includes/global-nav' %}
            </nav>
            <p class="statement">{{site.meta['homepage-statement']}}</p>
-->

        </section>

        <section class="homepage-experience">
          <h2>A few notable projects<h2>

          <h3>The Washington Post</h3>
          <p class="timeframe">(most recently)</p>
          <p>Helped establish The Washington Post’s NYC product design shop, WPNYC, focusing mostly on internal publishing tools and personalization-related products.</p>
          <p>What I did and <a href="/all/i-have-joined-the-washington-post-in-nyc">why I joined</a>.</p>

          <hr>

          <h3>HealthCare.gov</h3>
          <p class="timeframe">(2010, 2012-2013)</p>
          <p>I’ve had a long, sometimes painful relationship with everyone’s favorite target. I designed the first version in 2010 and helped shape the overall UX design of the infamous 2013 version.</p>
          <p><a href="/all/healthcaregov">What I did</a>, <a href="/all/how-i-became-involved-with-healthcaregov/">how I got to do it</a>, and <a href="/all/team-colors">why I’m proud</a> to have been a part of it.</p>

          <hr>

          <h3>ReliefWeb / UN OCHA</h3>
          <p class="timeframe">(2012)</p>
          <p>I’ve had a long, sometimes painful relationship with everyone’s favorite target. I designed the first version in 2010 and helped shape the overall UX design of the infamous 2013 version.</p>

          <p><a class="circle-button" href="/all/work/">All<br>Projects</a></p>

        </section>

        <section class="homepage-writing">
          <h2>A few things I've written</h2>
          {% for post in site.posts %}
          {% if post.meta.featured.value == 'yes' %}

          {% assign categoryname = {{post.meta['type']}} %}

          <h3><a href="{{post.url}}">{{post.title}}</a></h2>
          <p>{{post.meta.subtitle}}</p>

          {% endif %}
          {% endfor %}

          <p><a class="circle-button" href="/all/writing/">All<br>Writing</a></p>
        </section>

        <section class="homepage-footer group">
          {% include 'includes/address' %}
        </section>


<!--        <section class="">
            <header class="page-header">
                <h1>Featured <span class="page-header-secondary"><a href="/all">View All</a></span></h1>
            </header>
            <section class="index-list group">
{% for post in site.posts %}
{% if post.meta.featured.value == 'yes' %}
{% include 'layouts/index_item' %}
{% endif %}
{% endfor %}
            </section>
        </section>

        <footer class="group">
{% include 'includes/footer-aside-info' %}
{% include 'includes/address' %}
        </footer>

-->

{% include 'includes/bp-indicator' %}
{% include 'includes/scripts-end' %}
    </body>
</html>
