            <address class="footer-generic-info">
                <p class="contact-info">
                    <span class="company-name">Ed Mullen</span><br>
                    Jersey City, NJ (NYC area)<br>
                    Email: <a href="mailto:ed@edmullen.com">ed@edmullen.com</a><br>
                    Twitter: <a href="http://www.twitter.com/edmullen">@edmullen</a><br>
                    Phone: 201.743.9347
                </p>
                <p class="copyright-info">© 2015 Edward Mullen Studio LLC</p>
            </address>
