        <div class="bp-indicator">
            <div class="bp-item bp-small"><img src="/assets/bpidentifier-default.gif"><!--Default: Small--></div>
            <div class="bp-item bp-small-1"><img src="/assets/bpidentifier-small-1.gif"><!--Small 1--></div>
            <div class="bp-item bp-small-2"><img src="/assets/bpidentifier-small-2.gif"><!--Small 2--></div>
            <div class="bp-item bp-medium"><img src="/assets/bpidentifier-medium.gif"><!--Medium--></div>
            <div class="bp-item bp-medium-1"><img src="/assets/bpidentifier-medium-1.gif"><!--Medium 1--></div>
            <div class="bp-item bp-medium-2"><img src="/assets/bpidentifier-medium-2.gif"><!--Medium 2--></div>
            <div class="bp-item bp-large"><img src="/assets/bpidentifier-large.gif"><!--Large--></div>
            <div class="bp-item bp-large-1"><img src="/assets/bpidentifier-large-1.gif"><!--Large 1--></div>
            <div class="bp-item bp-large-2"><img src="/assets/bpidentifier-large-2.gif"><!--Large 2--></div>
        </div>