{% capture content %}
		<section class="index-content">
            <header class="page-header">
                <h1><a href="/all">All</a><span class="quiet"> / </span>{{title}}</h1>
            </header>
            <section class="index-list group">
{% for post in posts %}
{% include 'layouts/index_item' %}
{% endfor %}
            </section>
        </section>
        <footer class="group">
{% include 'includes/footer-aside-info' %}
{% include 'includes/address' %}
        </footer>
{% endcapture %}

{% include 'layouts/interior' %}



